.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset-password {
    align-self: center;
}
