.login-form {
    display: block;
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions button,
.actions a {
    align-self: center;
}
