<form class="login-form inline" action="/login" method="POST">
    <div class="form-control">
        <label for="title">Email</label>
        <input id="email" type="email" name="email">
    </div>
    <div class="form-control">
        <label for="price">Password</label>
        <input id="password" type="password" name="password">
    </div>
    <button class="btn" type="submit">Login</button>
</form>