<form class="login-form" action="/reset-password" method="POST">
    <%- include('../partials/error-message.ejs') %>
    <div class="form-control">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Reset Password</button>
</form>